@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pro3 - ZealEducationManager</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="~/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/css/templatemo-style.css">

    <link rel="shortcut icon" type="image/png" href="~/img/i2.jpg"/>
    <!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
</head>

<body id="reportsPage">
    <div class="" id="home">
        <nav class="navbar navbar-expand-xl">
            <div class="container h-100">
                <a class="navbar-brand" asp-area="student" asp-controller="home" asp-action="index">
                    <img src="~/img/IN.png" style="width:110px;height:90px;" />
                </a>
                <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars tm-nav-icon"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto h-100">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="student" asp-controller="home" asp-action="index">
                                <i class="fas fa-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="student" asp-controller="course" asp-action="index">
                                <i class="fas fa-book"></i>
                                Course
                            </a>
                        </li>
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("username") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="student" asp-controller="score" asp-action="transcript">
                                    <i class="fas fa-signal"></i>
                                    Transcript
                                </a>
                            </li>
                        }
                        @if (@HttpContextAccessor.HttpContext.Session.GetString("username") != null)
                        {
                            <li class="nav-item">
<a class="nav-link" asp-area="student" asp-controller="profile" asp-action="index" >
                                    <i class="fas fa-user-graduate"></i>
                                    <span>
                                        @HttpContextAccessor.HttpContext.Session.GetString("fullname")
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("username") != null)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link d-block" asp-controller="security" asp-action="logout">
                                    Hello @HttpContextAccessor.HttpContext.Session.GetString("fullname")
                                    , <b>Logout</b>
                                </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link d-block" asp-controller="security" asp-action="login">
                                    <b>Login</b>
                                </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>

        </nav>
        <div class="container">

            @RenderBody()

        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved.

                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/js/moment.min.js"></script>
    <!-- https://momentjs.com/ -->
    <script src="~/js/Chart.min.js"></script>
    <!-- http://www.chartjs.org/docs/latest/ -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="~/js/tooplate-scripts.js"></script>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        let ctxLine,
            ctxBar,
            ctxPie,
            optionsLine,
            optionsBar,
            optionsPie,
            configLine,
            configBar,
            configPie,
            lineChart;
        barChart, pieChart;
        // DOM is ready
        $(function() {
            drawLineChart(); // Line Chart
            drawBarChart(); // Bar Chart
            drawPieChart(); // Pie Chart
$(window).resize(function() {
                updateLineChart();
                updateBarChart();
            });
        })
    </script>
</body>

</html>