@model IEnumerable<Pro3MVC.Entities.EnquiryEntity>

@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@if (TempData["msg"] != null)
{
	<p class="alert alert-success">
		@TempData["msg"]
	</p>
}
@if(Model.Count() == 0) {
	<p class="alert alert-success">
		There is no inquiry in the course
	</p>
}

<div class="col-sm-12 col-md-12 col-lg-8 col-xl-12 tm-block-col">
	<div class="tm-bg-primary-dark tm-block tm-block-products" style="max-height:fit-content!important">
		<div class="tm-product-table-container">
			<table class="table table-hover tm-table-small tm-product-table">
				<thead>
					<tr>
						<th scope="col">&nbsp;</th>
						<th scope="col" style="display:none;">Course</th>
						<th scope="col" style="display:none;">Id</th>
						<th scope="col">Question</th>
						<th scope="col">Answer</th>
						<th scope="col">&nbsp;</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var item in Model)
					{
						<tr>
							<td>&nbsp</td>
							<td style="display:none;">@Html.DisplayFor(modelItem => item.CourseId)</td>
							<td style="display:none;">@Html.DisplayFor(modelItem => item.IdE)</td>
							<td>
								@Html.DisplayFor(modelItem => item.Question)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Answer)
							</td>
							<td>
								<a asp-area="admin" asp-controller="course" asp-action="updateEnquiry" asp-route-id="@item.IdE" style="background-color:lemonchiffon;"
								class="tm-product-delete-link"><i style="color:brown"><i class="fas fa-edit"></i></i></a>
							</td>
							<td>
								<a asp-area="admin" asp-controller="course" asp-action="deleteE" asp-route-id="@item.IdE"
							   onclick="return confirm('Are you sure to delete  @item.Question ?')" style="background-color:lemonchiffon;"
								class="tm-product-delete-link"><i style="color:brown"><i class="fas fa-trash-alt"></i></i></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<!-- table container -->
		<a asp-area="admin" asp-controller="course" asp-action="addEnquiry"
		   class="btn btn-primary btn-block text-uppercase mb-3">
			Add Enquiry
		</a>
	</div>
</div>
